body {

    background: #8225da;
    height: 40rem;
    position: relative;   
}

body py-script{
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

py-script {
    font-family: 'Bebas Neue', cursive;;
    font-size: 5rem;
    font: bold;
    color: #000000;
}

footer {
    background-color: #742bb8;
    height: 2.5rem;
    width: 100%;
    bottom: 0;
    position: fixed;
    text-align: center;
    columns: 3;
    text-decoration: none;
}

